<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Words" version="17.7.0.0" targetFramework="net45" />
  <package id="AutoMapper" version="6.2.2.0" targetFramework="net45" />
  <package id="BTExcel" version="1.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net40" requireReinstallation="True" />
  <package id="NLog" version="4.4.3" targetFramework="net45" />
  <package id="NLog.Config" version="4.0.0" targetFramework="net45" />
  <package id="NLog.Schema" version="4.4.3" targetFramework="net45" />
  <package id="NLog.Web" version="4.5.0.0" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
</packages>